<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value ="C:\Temp\AppLog.log"></file>
		<AppendToFile Value ="true"></AppendToFile>
		<rollingSize value="Size"></rollingSize>
		<maximumFileSize value="10MB"></maximumFileSize>
		<maxSizeRollBackups value="5"></maxSizeRollBackups>
		<staticLogFileName value ="true"></staticLogFileName>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%logger] %level - %message%newline%exception" />
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="FileAppender" />
	</root>
</log4net>